.head{
   
    position: relative;
}
.img1{
    height: 300px;
    width: 100%;
    display: block;
   
}
.in{
    position: absolute;
    top: 35%;
    left:38%;
    color: black;
    font-size: 80px;
    font-style: italic;
}
.in2{
     position: absolute;
    top:0;
    left:80%;
    color: black;
    font-size: 20px;
}
ul,li{
    display: inline-block;
    margin-right: 20px;   
   
}
.pos:hover{
    transform: translateY(-3.5px);
}
li:hover{
    transform: translateY(-3.5px);
    
}
.tit1{
    text-align: center;
    display:inline-block;
    color:white ;
    background-color: black;
    border-radius: 30px;
    transition: transform 0.3s;
    width: 60%;
    margin-left: 25%;
}
.tit1:hover{
    transform: scale(1.1);
}

.tit2{
    position: relative;
    
}
.img2{
    position: relative;
    height: auto;
    width: 30%;
    margin-left: 40%;
    border-radius: 10px;
}
.img2:hover{
    box-shadow: 4px 4px 6px 3px grey; 
    transform: translateY(10px);
}
.text{
    position: absolute;
    top:100%;
    color: white;
    top:50%;
    right: 30%;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.content1{
    position: relative;
}
.img3{ 
    height: 320px;
    width: 80%;
    display: block;
    margin-left: 150px;
    border-radius: 25px;
}
.img4{
    position: absolute;
    height: 320px;
    width: 20%;
    border-radius: 20px;
    left: 15%;
    bottom: -130px;
    border-style:outset;
    border-width: 10px;
    border-color: aqua;
}
.img4:hover{
    transition: transform 0.3s;
    transform: scale(1.1);
}
.img5{
    position: absolute;
    height: 320px;
    width: 20%;
    border-radius: 20px;
    left: 40%;
    bottom: -130px;
    border-style:outset;
    border-width: 10px;
    border-color: aqua;
}
.img5:hover{
    transition: transform 0.3s;
    transform: scale(1.1);
}
.img6{
    position: absolute;
    height: 320px;
    width: 20%;
    border-radius: 20px;
    left: 65%;
    bottom: -130px;
    border-style:outset;
    border-width: 10px;
    border-color: aqua;
}
.img6:hover{
    transition: transform 0.3s;
    transform: scale(1.1);
}
.set1{
    position: absolute;
    left:240px;
    color: antiquewhite;
}
.set2{
    position: absolute;
    left:610px;
    color: antiquewhite;
}
.set3{
    position: absolute;
    left:990px;
    color: antiquewhite;
}

